.DS_Store
/web/yui/*
/web/js/*
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/data/*
vendor
/composer.phar
app/config/parameters.yml
.idea/*
/bin/
*.swp
lox-standard.sublime-workspace
lox-standard