{% macro nav(pending) %}
  <ul class="span2 nav nav-pills nav-stacked libbit-lox-sidenav">
    <li class="{% if app.request.get('_route') == 'libbit_lox_home' or app.request.get('_route') == 'libbit_lox_home_path' %}active{% endif %}">
        <a href="{{ path('libbit_lox_home') }}">Home</a>
    </li>
    <li class="{% if app.request.get('_route') == 'libbit_lox_sharing' %}active{% endif %}">
        <a href="{{ path('libbit_lox_sharing') }}">
            <span>Sharing </span>
            {% if pending != 0 %}
                <span id="badge-notifications" class="badge badge-important pull-right">{{ pending }}</span>
            {% endif %}
        </a>
    </li>
    <li class="{% if app.request.get('_route') == 'libbit_lox_links' %}active{% endif %}">
        <a href="{{ path('libbit_lox_links') }}">Links</a>
    </li>
  </ul>
{% endmacro %}
