{% macro nav(pending) %}
  <ul class="span2 nav nav-pills nav-stacked libbit-lox-sidenav">
    <li class="{% if app.request.get('_route') == 'libbit_lox_home' or app.request.get('_route') == 'libbit_lox_home_path' %}active{% endif %}">
        <a href="{{ path('libbit_lox_home') }}">{% trans %}side_nav_home{% endtrans %}</a>
    </li>
    <li class="{% if app.request.get('_route') == 'libbit_lox_sharing' %}active{% endif %}">
        <a href="{{ path('libbit_lox_sharing') }}">
            <span>{% trans %}side_nav_sharing{% endtrans %} </span>
            {% if pending != 0 %}
                <span id="badge-notifications" class="badge badge-important pull-right">{{ pending }}</span>
            {% endif %}
        </a>
    </li>
    <li class="{% if app.request.get('_route') == 'libbit_lox_links' %}active{% endif %}">
        <a href="{{ path('libbit_lox_links') }}">{% trans %}side_nav_links{% endtrans %}</a>
    </li>
  </ul>
{% endmacro %}
