{% extends 'LibbitLoxBundle::layout.html.twig' %}
{% import 'LibbitLoxBundle::sidenav.html.twig' as sidenav %}

{% block content %}

<div class="lox-app-container"></div>

<div class="row">
  <div class="span2 libbit-lox-sidebar">
    {{ sidenav.nav(share_manager.getPendingCountForUser(app.user)) }}
  </div>

  <div class="span10 libbit-lox-content">
    <div class="libbit-lox-app"></div>
  </div>
</div>

<script>
YUI().use('lox-page', 'lox-app', function (Y) {
  new Y.Lox.Page().render();

  var container = Y.one('.libbit-lox-app');

  var app = new Y.Lox.App.App({
    container: container,
    viewContainer: container
  });

  app.render();
});
</script>

{% endblock %}
