<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="libbit_lox.listener.shared_item.class">Libbit\LoxBundle\EventListener\SharedItemListener</parameter>
        <parameter key="libbit_lox.listener.item_root.class">Libbit\LoxBundle\EventListener\ItemRootListener</parameter>
        <parameter key="libbit_lox.listener.invitation_group.class">Libbit\LoxBundle\EventListener\InvitationGroupListener</parameter>
        <parameter key="libbit_lox.listener.web_notification.class">Libbit\LoxBundle\EventListener\WebNotificationListener</parameter>
        <parameter key="libbit_lox.listener.mail_notification.class">Libbit\LoxBundle\EventListener\MailNotificationListener</parameter>
        <parameter key="libbit_lox.listener.push_notification.class">Libbit\LoxBundle\EventListener\PushNotificationListener</parameter>
        <parameter key="libbit_lox.listener.item_serialize.class">Libbit\LoxBundle\EventListener\ItemSerializeListener</parameter>
        <parameter key="libbit_lox.listener.share_serialize.class">Libbit\LoxBundle\EventListener\ShareSerializeListener</parameter>
        <parameter key="libbit_lox.listener.doctrine_listener.class">Libbit\LoxBundle\EventListener\DoctrineListener</parameter>
    </parameters>

    <services>

        <service id="libbit_lox.listener.item_root" class="%libbit_lox.listener.item_root.class%">
            <argument type="service" id="libbit_lox.item_manager" />
            <tag name="kernel.event_subscriber" />
        </service>

        <!-- Trigger the shared_item listener first because the notification listeners depend on it. -->
        <service id="libbit_lox.listener.shared_item" class="%libbit_lox.listener.shared_item.class%">
            <argument type="service" id="libbit_lox.item_manager" />
            <argument type="service" id="doctrine.orm.entity_manager" />
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="libbit_lox.listener.item_root" class="%libbit_lox.listener.item_root.class%">
            <argument type="service" id="libbit_lox.item_manager" />
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="libbit_lox.listener.invitation_group" class="%libbit_lox.listener.invitation_group.class%">
            <argument type="service" id="libbit_lox.share_manager" />
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="libbit_lox.listener.web_notification" class="%libbit_lox.listener.web_notification.class%">
            <argument type="service" id="doctrine.orm.entity_manager" />
            <tag name="kernel.event_subscriber" />
        </service>

        <service id="libbit_lox.listener.mail_notification" class="%libbit_lox.listener.mail_notification.class%">
            <argument type="service" id="mailer" />
            <argument type="service" id="translator" />
            <argument type="service" id="security.context"/>
            <argument type="service" id="router"/>
            <argument type="service" id="libbit_lox.item_manager" />
            <tag name="kernel.event_subscriber" />
        </service>

        <!--<service id="libbit_lox.listener.push_notification" class="%libbit_lox.listener.push_notification.class%">-->
            <!--<argument type="service" id="doctrine.orm.entity_manager" />-->
            <!--<argument type="service" id="security.context"/>-->
            <!--<argument type="service" id="sonata.notification.backend"/>-->
            <!--<argument type="service" id="translator"/>-->
            <!--<tag name="kernel.event_subscriber" />-->
        <!--</service>-->

        <service id="libbit_lox.listener.item_serialize" class="%libbit_lox.listener.item_serialize.class%">
            <argument type="service" id="libbit_lox.item_manager" />
            <argument type="service" id="security.context"/>
            <argument type="service" id="rednose_framework.datetime_formatter"/>
            <tag name="jms_serializer.event_subscriber" event="serializer.post_serialize" method="onPostSerialize" priority="-64" />
            <tag name="jms_serializer.event_subscriber" event="serializer.pre_serialize" method="onPreSerialize" priority="-64" />
        </service>

        <!-- Doctrine event listener -->
        <service id="libbit_lox.listener.doctrine_listener" class="%libbit_lox.listener.doctrine_listener.class%">
            <argument type="service" id="event_dispatcher" />
            <tag name="doctrine.event_listener" event="postPersist" />
        </service>
    </services>
</container>
